{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Мой магазин</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style/base.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<div id="header">
    <a href="" class="logo">Мой магазин</a>
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>